.homebtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 20dvw;
    margin: 10px 5px;
    background-color: gold;
    font-size:  medium;
}

.homebtn a{
    color: black;
    padding: 23px 30px;
    text-decoration: none;
    cursor: pointer;
}